<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>crud dashboard</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/cssAD/bootstrap.min.css">
	<!----css3---->
	<link rel="stylesheet" href="~/cssAD/custom.css">


	<!--google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">


	<!--google material icon-->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>




	<div class="wrapper">

		<div class="body-overlay"></div>

		<!-------sidebar--design------------>

		<div id="sidebar">
			<div class="sidebar-header">
				<h2>My Farm</h2>
			</div>
			<ul class="list-unstyled component m-0">
				<li class="active">
					<a href="~/Admin/Produce" class="dashboard"><i class="material-icons"></i>Produce </a>
				</li>

				<li class="active">
					<a href="~/Admin/Garden" class="dashboard"><i class="material-icons"></i>Garden </a>
				</li>

				<li class="active">
					<a href="~/Admin/Order" class="dashboard"><i class="material-icons"></i>Order </a>
				</li>

			</ul>
		</div>

		<!-------sidebar--design- close----------->
		<!-------page-content start----------->

		<div id="content">

			<!------top-navbar-start----------->

			<div class="top-navbar">
				<div class="xd-topbar">
					<div class="row">
						<div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
							<div class="xp-menubar">
								<span class="material-icons text-white">signal_cellular_alt</span>
							</div>
						</div>

						<div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
							<div class="xp-profilebar text-right">
								<nav class="navbar p-0">
									<ul class="nav navbar-nav flex-row ml-auto">
										<li class="dropdown nav-item">
											<a class="nav-link" href="#" data-toggle="dropdown">
												<img src="img/user.jpg" style="width:40px; border-radius:50%;" />
												<span class="xp-user-live"></span>
											</a>
											<ul class="dropdown-menu small-menu">
												<li>
													<a href="#">
														<span class="material-icons">person_outline</span>
														Profile
													</a>
												</li>
												<li>
													<a href="#">
														<span class="material-icons">settings</span>
														Settings
													</a>
												</li>
												<li>
													<a href="#" id="logoutButton">
														<span class="material-icons">logout</span>
														Logout
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>

					</div>

					<div class="xp-breadcrumbbar text-center">
						<h4 class="page-title">Dashboard</h4>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Vishweb</a></li>
							<li class="breadcrumb-item active" aria-curent="page">Dashboard</li>
						</ol>
					</div>


				</div>
			</div>
			<!------top-navbar-end----------->
			<!------main-content-start----------->

		<body>
			@RenderBody()
		</body>


		<footer class="footer">
			<div class="container-fluid">
				<div class="footer-in">
					<p></p>
				</div>
			</div>
		</footer>



	<!-------complete html----------->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="~/jsAD/jquery-3.3.1.slim.min.js"></script>
	<script src="~/jsAD/popper.min.js"></script>
	<script src="~/jsAD/bootstrap.min.js"></script>
	<script src="~/jsAD/jquery-3.3.1.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".xp-menubar").on('click', function () {
				$("#sidebar").toggleClass('active');
				$("#content").toggleClass('active');
			});

			$('.xp-menubar,.body-overlay').on('click', function () {
				$("#sidebar,.body-overlay").toggleClass('show-nav');
			});

		});


		$(document).ready(function () {
			$('#logoutButton').click(function (event) {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: 'https://localhost:7020/api/User/logout',
					success: function (response) {
						sessionStorage.clear();
						window.location.href = 'https://localhost:7155/Clients/Home';
					},
					error: function (xhr, status, error) {
						$('#logoutButton').append('<span class="error-message">Error logging out</span>');
					}
				});
			});
		});




	</script>




</html>