@page
@model FarmClients.Pages.Admin.DetailsProduceModel
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}

<style>
    .status-yellow {
        background-color: yellow;
        color: black;
    }

    .status-green {
        background-color: green;
        color: white;
    }

    .status-blue {
        background-color: blue;
        color: white;
    }

    .status-red {
        background-color: red;
        color: white;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main-content">
        <div class="row">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                            <h2 class="ml-lg-2">Order</h2>
                        </div>
                        <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                            <a class="btn btn-secondary" href="/Admin/Order">
                                <span>Back to list</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <table id="orderTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Name</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                            <h2 class="ml-lg-2">Order Details</h2>
                        </div>
                        <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
            <table id="orderDetailsTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Order Id</th>
                        <th>Produce Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!----edit-modal start--------->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="orderId" name="orderId">

                        <div class="form-group">
                            <label for="userName">User Name</label>
                            <input type="text" class="form-control" id="name" name="userName" readonly required>
                        </div>

                        <div class="form-group">
                            <label for="orderDate">Order Date</label>
                            <input type="datetime" class="form-control" id="orderDate" name="orderDate" readonly required>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status">
                                <option value="1">Pending</option>
                                <option value="2">Approved</option>
                                <option value="3">Delivering</option>
                                <option value="4">Received</option>
                                <option value="5">Cancel order</option>
                            </select>
                        </div>
                    </div>
                    <p style="color: red; text-align: center" id="mess2"></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnEdit">Save Changes</button> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>       
    </div>








    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var orderId = urlParams.get('id');

            getOrder(orderId);
            getAllOrderDetails(orderId);
        });

        function getOrder(orderId) {
            $.ajax({
                url: 'https://localhost:7020/api/Order/getBy/' + orderId,
                type: 'GET',
                success: function (response) {
                    if (response) {
                        var order = response;
                        $.ajax({
                            url: 'https://localhost:7020/api/User/' + order.userId,
                            type: 'GET',
                            success: function (user) {
                                $('#orderTable tbody').append(`
                                            <tr>
                                                <td>${order.orderId}</td>
                                                <td>${user.userName}</td>
                                                <td>${formatDate(order.orderDate)}</td>
                                                <td>${getStatusText(order.status)}</td>
                                                <td>
                                                    <a href="#editModal" class="editModal" data-toggle="modal" onclick="editOrder(${order.orderId})">
														<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
													</a>
                                                </td>
                                            </tr>
                                        `);
                            },
                            error: function (xhr, status, error) {
                                console.error(error);
                            }
                        });
                    } else {
                        $('#orderTable tbody').append('<tr><td colspan="8">No data available</td></tr>');
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function getAllOrderDetails(orderId) {
            $.ajax({
                url: 'https://localhost:7020/api/Order/GetAllOrderDetialsByOrderId/' + orderId,
                type: 'GET',
                success: function (response) {
                    $('#orderDetailsTable tbody').empty();

                    if (response.length === 0) {
                        $('#orderDetailsTable tbody').append(`
                                    <tr>
                                        <td colspan="6">No data available</td>
                                    </tr>
                                `);
                    } else {
                        response.forEach(function (orderDetails) {
                            $('#orderDetailsTable tbody').append(`
                                        <tr>
                                            <td>${orderDetails.orderDetailId}</td>
                                            <td>${orderDetails.orderId}</td>
                                            <td id="productName_${orderDetails.produceId}">${orderDetails.produceId}</td>
                                            <td>${orderDetails.quantity}</td>
                                            <td>${orderDetails.totalPrice}</td>
                                            <td>${orderDetails.address}</td>
                                        </tr>
                                    `);

                            $.ajax({
                                url: 'https://localhost:7020/api/Produce/' + orderDetails.produceId,
                                type: 'GET',
                                success: function (produce) {
                                    $(`#productName_${orderDetails.produceId}`).text(produce.name);
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error:', error);
                                }
                            });
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }


            });
        }


        function editOrder(id) {
            $.ajax({
                url: 'https://localhost:7020/api/Order/getBy/' + id,
                type: 'GET',
                success: function (order) {
                    $('#orderId').val(order.orderId); 
                    $('#name').val(order.userId); 
                    $('#orderDate').val(new Date(order.orderDate).toISOString().split('T')[0]); 
                    $('#status').val(order.status);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        }

        $(document).ready(function () {
            $('#btnEdit').click(function () {
                var orderId = $('#editModal #orderId').val();
                console.log(orderId);
                var userId = $('#editModal #name').val();
                console.log(userId);
                var orderDate = $('#editModal #orderDate').val();
                console.log(orderDate);
                var status = $('#editModal #status').val();
                console.log(status);

                $.ajax({
                    url: 'https://localhost:7020/api/Order/' + orderId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        orderId: orderId,
                        userId: userId,
                        orderDate: orderDate,
                        status: status
                    }),
                    success: function (result) {
                        alert(result);
                        window.location.href = '/Admin/Order';
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });
        });

       

        //format date
        function formatDate(dateString) {
            const date = new Date(dateString);
            const year = date.getFullYear();
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let day = date.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        //get status
        function getStatusText(status) {
            switch (status) {
                case 1:
                    return "<span class='status-yellow'>Pending</span>";
                case 2:
                    return "<span class='status-green'>Approved</span>";
                case 3:
                    return "<span class='status-blue'>Delivering</span>";
                case 4:
                    return "<span class='status-green'>Received</span>";
                case 5:
                    return "<span class='status-red'>Cancel order</span>";
                default:
                    return "Unknown";
            }
        }
    </script>
</body>
</html>
