@page
@model FarmClients.Pages.Clients.AboutModel
@{
}


<div class="container-fluid">
    <div class="layout_border">
        <!-- about section start -->
        <div class="about_section layout_padding margin_bottom90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="about_taital">About Us</h1>
                        <p class="about_text">Passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                    </div>
                </div>
                <div class="about_section_2">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_img"><img src="images/about-img.png"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="fresh_taital">Fresh any</div>
                        <p class="ipsum_text">Variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomisedvariations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised</p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about section end -->
        <!-- layout_border end -->
    </div>
</div>