@page
@{
	Layout = null;
}
@model FarmClients.Pages.Clients.ForgotPasswordModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Forgot Password</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="email">Email :</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <div id="error-message" class="text-danger mt-2"></div>
                        <button onclick="sendResetPasswordEmail()" class="btn btn-primary btn-block">Submit</button>
                        <button onclick="window.location.href='Login'" class="btn btn-primary btn-block">Back to login</button>
                        <div id="success-message" class="text-success mt-2" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function sendResetPasswordEmail() {
            var email = $('#email').val();

            $.ajax({
                url: 'https://localhost:7020/api/User/forgotPassword/' + email,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: email }),
                success: function (response) {
                    $('#success-message').text(response).show();
                    $('#error-message').hide();
                },
                error: function (xhr, status, error) {
                    $('#error-message').text(xhr.responseText).show();
                    $('#success-message').hide();
                }
            });
        }
    </script>
</body>
</html>

