@page
@model FarmClients.Pages.Clients.ShopModel
@{
}
<html>

    <body>
    
    <!-- layout_border start -->
    <div class="container-fluid">
        <div class="layout_border">
            <!-- vagetables section start -->
            <div class="vagetables_section layout_padding margin_bottom90">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="vagetables_taital">Our Vagetables</h1>
                            <p class="vagetables_text">Passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                        </div>
                    </div>
                    <div class="courses_section_2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="hover01 column">
                                    <figure><img src="images/img-1.png"></figure>
                                </div>
                                <h3 class="harshal_text">Harshal</h3>
                                <h3 class="rate_text">$19</h3>
                                <div class="read_bt_1"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-md-4">
                                <div class="hover01 column">
                                    <figure><img src="images/img-2.png"></figure>
                                </div>
                                <h3 class="harshal_text">Foodism</h3>
                                <h3 class="rate_text">$19</h3>
                                <div class="read_bt_1"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-md-4">
                                <div class="hover01 column">
                                    <figure><img src="images/img-3.png"></figure>
                                </div>
                                <h3 class="harshal_text">Seven</h3>
                                <h3 class="rate_text">$19</h3>
                                <div class="read_bt_1"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="vagetables_section_2">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="hover01 column">
                                    <figure><img src="images/img-4.png"></figure>
                                </div>
                                <h3 class="harshal_text">Cyrus</h3>
                                <h3 class="rate_text">$19</h3>
                                <div class="read_bt_1"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-md-4">
                                <div class="hover01 column">
                                    <figure><img src="images/img-5.png"></figure>
                                </div>
                                <h3 class="harshal_text">Elianna</h3>
                                <h3 class="rate_text">$19</h3>
                                <div class="read_bt_1"><a href="#">Read More</a></div>
                            </div>
                            <div class="col-md-4">
                                <div class="hover01 column">
                                    <figure><img src="images/img-6.png"></figure>
                                </div>
                                <h3 class="harshal_text">Friedman</h3>
                                <h3 class="rate_text">$19</h3>
                                <div class="read_bt_1"><a href="#">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- vagetables section end -->
            <!-- layout_border end -->
        </div>
    </div>
</body>
</html>